.our-clients {
    height: 184px;
    fill: var(--social-icons);
  }
  .our-clients__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 94px;
  }
  .our-clients__list--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-icons);
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .our-clients__list--logo:hover,
  .our-clients__list--logo:focus {
    fill: var(--main-blue);
    border-color: var(--main-blue);
  }
  